<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>906981308156-vfkrer3sn4slbjeakbirhosbq69b0m7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906981308156-vfkrer3sn4slbjeakbirhosbq69b0m7q</string>
	<key>API_KEY</key>
	<string>AIzaSyB54pvQ7Nq1UqyjNvIxFA3Swyt7abL-imI</string>
	<key>GCM_SENDER_ID</key>
	<string>906981308156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jkim249.juwonkim</string>
	<key>PROJECT_ID</key>
	<string>iitgamepj</string>
	<key>STORAGE_BUCKET</key>
	<string>iitgamepj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906981308156:ios:e776e948288c38cf</string>
	<key>DATABASE_URL</key>
	<string>https://iitgamepj.firebaseio.com</string>
</dict>
</plist>